#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define SUB     1
#define DEVICE  2
#define MOUSE   3
#define SCROLL  4

&lt {
    flavor = "balanced";
    tapping-term-ms = <180>;
    quick-tap-ms = <0>;
};

/ {
    macros {
        macro_brackets: macro_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
        };
        /* Release shift before LEFT to avoid Shift+Left; use a mod-morph once zmk#683 is fixed. */
        macro_parens: macro_parens {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &macro_release &kp LSHFT &kp RSHFT &macro_tap &kp LEFT>;
        };
        macro_braces: macro_braces {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LBKT) &kp LS(RBKT) &macro_release &kp LSHFT &kp RSHFT &macro_tap &kp LEFT>;
        };
        macro_angles: macro_angles {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(COMMA) &kp LS(DOT) &macro_release &kp LSHFT &kp RSHFT &macro_tap &kp LEFT>;
        };
        macro_quotes: macro_quotes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SQT &kp LEFT>;
        };
        macro_dquotes: macro_dquotes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SQT) &kp LS(SQT) &macro_release &kp LSHFT &kp RSHFT &macro_tap &kp LEFT>;
        };
        macro_graves: macro_graves {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp GRAVE &kp LEFT>;
        };
        macro_codeblock: macro_codeblock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp GRAVE &kp GRAVE &kp GRAVE &kp GRAVE &kp GRAVE &kp LEFT &kp LEFT &kp LEFT>;
        };
    };

    behaviors {
        td_lbkt: td_lbkt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LBKT>, <&macro_brackets>;
        };
        td_lpar: td_lpar {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LPAR>, <&macro_parens>;
        };
        td_angle: td_angle {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LS(COMMA)>, <&macro_angles>;
        };
        td_sqt: td_sqt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp SQT>, <&macro_quotes>;
        };
        td_dquote: td_dquote {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LS(SQT)>, <&macro_dquotes>;
        };
        td_grave: td_grave {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp GRAVE>, <&macro_graves>, <&macro_codeblock>;
        };
        td_lbrace: td_lbrace {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LS(LBKT)>, <&macro_braces>;
        };
        mm_sqt: mm_sqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&td_sqt>, <&td_dquote>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        mm_comma: mm_comma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&td_angle>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// | TAB |  Q  |  W  |  E  |  R  |  T  |                 |  Y  |  U  |  I  |  O  |  P  |  -  |
// | CTL |  A  |  S  |  D  |  F  |  G  |                 |  H  |  J  |SC/K |  L  |MO/; |  '  |
// | SFT |  Z  |  X  |  C  |  V  |  B  |                 |  N  |  M  |  ,  |  .  |  /  |  \  |
//       | ESC | OPT | CMD | EN  | SPC |                 | RET |SU/JA|
            bindings = <
&kp TAB   &kp Q   &kp W    &kp E    &kp R     &kp T         &kp Y   &kp U         &kp I        &kp O   &kp P          &kp MINUS
&kp LCTRL &kp A   &kp S    &kp D    &kp F     &kp G         &kp H   &kp J         &lt SCROLL K &kp L   &lt MOUSE SEMI &mm_sqt
&kp LSHFT &kp Z   &kp X    &kp C    &kp V     &kp B         &kp N   &kp M         &mm_comma    &kp DOT &kp FSLH       &kp BSLH
          &kp ESC &kp LALT &kp LGUI &kp LANG2 &kp SPACE     &kp RET &lt SUB LANG1
            >;
        };

        sub_layer {
// |  `  |  1  |  2  |  3  |  4  |  5  |                 |  6  |  7  |  8  |  9  |  0  |  =  |
// |CT/~ |  !  |  @  |  #  |  $  |  %  |                 |  ^  |  &  |  *  |  (  |  )  |  +  |
// |     | DEV |  {  |  }  |  [  |  ]  |                 |  ←  |  ↓  |  ↑  |  →  | DEL | BS  |
//       |     |     |     |     |     |                 |     |     |
            bindings = <
&td_grave       &kp N1     &kp N2     &kp N3   &kp N4   &kp N5        &kp N6    &kp N7   &kp N8    &kp N9    &kp N0   &kp EQUAL
&mt LCTRL TILDE &kp EXCL   &kp AT     &kp HASH &kp DLLR &kp PRCNT     &kp CARET &kp AMPS &kp ASTRK &td_lpar  &kp RPAR &kp PLUS
&trans          &mo DEVICE &td_lbrace &kp RBRC &td_lbkt &kp RBKT      &kp LEFT  &kp DOWN &kp UP    &kp RIGHT &kp DEL  &kp BKSP
                &trans     &trans     &trans   &trans   &trans        &trans    &trans
            >;
        };

        device_layer {
// |BTCLR| BT0 | BT1 | BT2 | BT3 | BT4 |                 |     |BRI- |BRI+ |VOL- |VOL+ |MUTE |
// |     |     |     |     |     |     |                 |     |     |     |     |     |     |
// |     |     |     |     |     |     |                 |     |     |     |     |     |     |
//       |     |     |     |     |     |                 |     |     |
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &trans &kp C_BRI_DN &kp C_BRI_UP &kp C_VOL_DN &kp C_VOL_UP &kp C_MUTE
&trans     &trans       &trans       &trans       &trans       &trans           &trans &trans       &trans       &trans       &trans       &trans
&trans     &trans       &trans       &trans       &trans       &trans           &trans &trans       &trans       &trans       &trans       &trans
           &trans       &trans       &trans       &trans       &trans           &trans &trans
            >;
        };

        mouse_layer {
// |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|                 | D<  | D>  | T<  | T>  |XXXXX|XXXXX|
// | CTL |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|                 | MC  |LCLK |MCLK |RCLK |XXXXX|XXXXX|
// | SFT |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|                 |PGDN |PGUP |BACK | FWD |XXXXX|XXXXX|
//       |XXXXX| OPT | CMD |XXXXX|XXXXX|                 | ESC |RGUI |
            bindings = <
&none     &none &none    &none    &none &none     &kp LC(LEFT) &kp LC(RIGHT) &kp LC(LS(TAB)) &kp LC(TAB)  &none &none
&kp LCTRL &none &none    &none    &none &none     &kp LC(UP)   &mkp LCLK     &mkp MCLK       &mkp RCLK    &none &none
&kp LSHFT &none &none    &none    &none &none     &kp PG_DN    &kp PG_UP     &kp LG(LBKT)    &kp LG(RBKT) &none &none
          &none &kp LALT &kp LGUI &none &none     &kp ESC      &kp RGUI
            >;
        };

        scroll_layer {
// |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|                 |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|
// |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|                 |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|
// |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|                 |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|
//       |XXXXX|XXXXX|XXXXX|XXXXX|XXXXX|                 |XXXXX|XXXXX|
            bindings = <
&none &none &none &none &none &none     &none &none &none &none &none &none
&none &none &none &none &none &none     &none &none &none &none &none &none
&none &none &none &none &none &none     &none &none &none &none &none &none
      &none &none &none &none &none     &none &none
            >;
        };
    };
};
